body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.nav-bar {
  width: 100vw;
  background-color: rgb(126, 149, 198);
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
}

.projects-container {
  background-color: rgb(152, 152, 152);
  width: 30vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos-container {
  background-color: rgb(239, 239, 239);
  width: 70vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1 {
  margin: 0;
}

h2 {
  margin-bottom: 32px;
  font-size: 36px;

}

h3 {
  margin-bottom: 32px;
  font-size: 24px;
}

.new-todo-btn, .new-project-btn {
  margin: 24px 0;
  height: 40px;
  width: 160px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background-color: dodgerblue;
  color: white;
  transition: background-color 0.3s;
}

.new-todo-btn:hover, .new-project-btn:hover {
  background-color: rgb(16, 117, 219);
  transition: 0.3s;
}

.projects-list {
  width: 200px;
  height: 400px;
  list-style: none;
  overflow: auto;
  padding: 0px;
}

.todos-list {
  max-width: 640px;
  min-width: 480px;
  max-height: 400px;
  min-height: 240px;
  /* list-style: none; */
  overflow: auto;
  padding: 0;
}

.new-project-form {
  display: flex;
  flex-direction: column;
  background-color:  rgb(239, 239, 239);
  padding: 24px;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 2;
}

.project-form-input, .todo-text-form-input, .due-date-input {
  padding: 8px;
  border-radius: 8px;
  border: none;
  margin-bottom: 8px;
  font-size: 18px;
}

.project-form-btn, .todo-form-btn {
  border-radius: 8px;
  color: white;
  background-color: dodgerblue;
  font-weight: 600;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.new-todo-form {
  background-color:rgb(152, 152, 152);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 160px;
  padding: 40px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 2;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s;
  visibility: hidden;
}

.todo-list-item-paragraph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.fa-circle-xmark {
  font-size: 24px;
  cursor: pointer;
}

.project-list-item-paragraph {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project-list-item {
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.project-list-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.selected {
  background-color: rgba(0, 0, 0, 0.2);
}

.delete-todo-btn {
  background-color: rgb(210, 6, 6);
  color: white;
  font-weight: 700;
  padding: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.edit-todo-btn {
  background-color: rgb(210, 176, 6);
  color: white;
  font-weight: 700;
  padding: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.delete-todo-btn:hover {
  background-color: rgb(189, 2, 2);
}


.edit-todo-btn:hover {
  background-color: rgb(171, 143, 3);

}

.edit-todo-list-item {
  /* z-index: 4325; */
}

.edit-form-text-input {
  border: none;
  background-color:  rgb(239, 239, 239);
}

.edit-form-date-input {

}
